__pycache__
db.sqlite3
.pre-commit-config.yaml
.isort.cfg
*.mp3
media
Babble-Frontend
.yaml
.env
.yml
.conf
.config
migrations
logs
root
.vscode
vscode
.DS_Store
.json
docker-compose.yml
dockerfile
requirements.txt
nginx.conf
nginx.crt
nginx.key